.root {
    /*This applies styling for the root node*/
    -fxbackground-position: center center ;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("images/bg.jpg");
    -fx-font-family: "Comic Sans MS";
}

.button{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30px;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
}