.root {
    /*This applies styling for the root node*/
    -fxbackground-position: center center ;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat ;
    -fx-background-image: url("images/bg.jpg");
    -fx-font: bold;
    -fx-font-family: "Comic Sans MS";
}

.label {
    /* Styling for all Control with the class of 'label' */
    -fx-padding: -2px;
    -fx-start-margin: 2px;
    -fx-end-margin: 2px;
}

.button{
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
}